/* OrderForm.css */

.foodOrders {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .orderForm {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .formLabel {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .formInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .submitButton {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  